.slider { margin: 20px; }
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  top: -32px;
  bottom: initial;
}

.noUi-marker {
    background: #F5F5F5 !important;
}

.noUi-vertical {
  width: 8px;
  height: 87% !important;
  margin-left: 97%;
  top: 9px;
  left: -5px;
}

.noUi-connect {
	background:#F5F5F5;
	top: 0px !important;
	
}

.noUi-draggable {
	top: -20px !important;
}

.noUi-handle {
    width: 16px !important;
    height: 11px !important;
    left: -5px;
    top: 0px !important;
	box-shadow: none !important;
}

.noUi-handle-lower , .noUi-handle:before, .noUi-handle:after{
	content: none !important;
	top: -11px !important;
}

.noUi-tooltip {
    font-size: 15px;
	color: #2e6da4 !important;
	left: -80px;
}


.noUi-target {
	 background: #FAFAFA !important;
}

noUi-handle:focus {
    outline: none !important;
}

*:focus {
    outline: none;
}